body {
    margin: 0;
    text-align: center;
}

#input,
#result {
    resize: none;
    width: 507px;
    height: 700px;
    padding: 5px;
    font-family: arial;
    border-style: solid;
    border-radius: 0px;
    border-width: 2px;
    border-color: gray;
    margin-bottom: 5px;
}

#input:focus,
#result:focus {
    outline: none;
}

.Container1 {
    margin: 0 auto;
    width: 1055px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 15px;
    background-color: rgb(243, 247, 177);
    border-radius: 5px;
}


.container2 {
    display: revert;
}

.container3 {
    margin-top: 5px;
    width: 507px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

#download,
#copyResultHTML {
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size: 17px;
    background-color: rgb(121, 100, 6);
    color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: gray;
}

#download:hover,
#copyResultHTML:hover {
    background-color: rgba(121, 100, 6, 0.897);
}

#download:active,
#copyResultHTML:active {
    background-color: rgba(121, 100, 6, 0.738);
}

#displayBottomBar {
    display: none;
}

#convert {
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size: 17px;
    background-color: rgb(11, 188, 23);
    color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: gray;
}

#convert:hover {
    background-color: rgba(11, 188, 23, 0.86);
}

#convert:active {
    background-color: rgba(11, 188, 23, 0.718);
}

.fileInputContainer {
    cursor: pointer;
    width: 500px;
    height: 30px;
    font-size: 17px;
    background-color: rgb(245, 249, 245);
    color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: gray;
    display: flex;
    justify-content: left;
    align-items: center;
}

#cfawergfv {

    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

#fileInput::file-selector-button {
    cursor: pointer;
    width: 110px;
    height: 25px;
    font-size: 17px;
    background-color: rgb(3, 128, 253);
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: gray;
    margin-left: 2px;
}

#fileInput::file-selector-button:hover {
    background-color: rgba(3, 128, 253, 0.86);
}

#upload {
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size: 17px;
    background-color: rgb(3, 128, 253);
    color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: gray;
}

#upload:hover {
    background-color: rgba(3, 128, 253, 0.86);
}